/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

/*-----------Header-Section---------*/

.container {
    width: 100%;
    margin: 0 auto;
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
}